name: Deploy Documentation

on:
  pull_request:
  merge_group:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

permissions: {}

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    name: Build documentation
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@fcf085fcb4b4b8f63f96906cd713eb52181b5ea4 # stable

      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          cache-on-failure: true

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build documentation
        env:
          RUSTDOCFLAGS: -A rustdoc::private-doc-tests -D warnings
        run: |
          cargo doc --no-deps --document-private-items
          echo '<meta http-equiv="refresh" content="0; url=typed_sled">' > target/doc/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/doc

  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
